<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <table class="table-hover" *ngIf="usuarios.length > 0">
                    <tbody>
                        <tr *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']" class="pointer">
                            <td>
                                <img [src]="usuario.img | imagen" class="img-50 img-circle">
                            </td>
                            <td>{{usuario.nombre}}</td>

                        </tr>
                    </tbody>

                </table>
                <div class="alert alert-info" *ngIf="usuarios.length === 0">
                    No hay registro de Usuarios

                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Socio</h4>
                <table class="table-hover" *ngIf="socios.length > 0">
                    <tbody>
                        <tr *ngFor="let socio of socios" [routerLink]="['/socio',socio._id]" class="pointer">
                            <td>
                                <img [src]="socio.img | imagen:'socio'" class="img-50 img-circle">
                            </td>
                            <td>{{ socio.nombre }}</td>

                        </tr>
                    </tbody>

                </table>
                <div class="alert alert-info" *ngIf="socios.length === 0">
                    No hay registro de Socios

                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospedajes</h4>
                <table class="table-hover" *ngIf="hospedajes.length > 0">
                    <tbody>
                        <tr *ngFor="let hospedaje of hospedajes" [routerLink]="['/hospedajes']" class="pointer">
                            <td>
                                <img [src]="hospedaje.img | imagen:'hospedaje'" class="img-50 img-circle">
                            </td>
                            <td>{{hospedaje.nombre}}</td>

                        </tr>
                    </tbody>

                </table>
                <div class="alert alert-info" *ngIf="hospedajes.length === 0">
                    No hay registro de Hospedajes

                </div>
            </div>
        </div>
    </div>
</div>